body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1159px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:1159px;
  font-size:12px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:572px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:350px;
  width:339px;
  height:309px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:146px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:40px;
  width:367px;
  height:157px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:84px;
  width:319px;
  height:105px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:83px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:93px;
  width:84px;
  height:82px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:105px;
  width:140px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:136px;
  word-wrap:break-word;
}
#u1084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:213px;
  width:179px;
  height:25px;
  text-align:left;
  line-height:20px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:289px;
  width:145px;
  height:13px;
  font-size:10px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:228px;
  width:43px;
  height:25px;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:244px;
  width:43px;
  height:25px;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:228px;
  width:123px;
  height:25px;
  text-align:left;
  line-height:20px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:244px;
  width:123px;
  height:25px;
  text-align:left;
  line-height:20px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:262px;
  width:43px;
  height:25px;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:262px;
  width:123px;
  height:25px;
  text-align:left;
  line-height:20px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:2px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:224px;
  width:136px;
  height:1px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:238px;
  width:9px;
  height:9px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:254px;
  width:9px;
  height:9px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:271px;
  width:9px;
  height:9px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:310px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:310px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:669px;
  width:339px;
  height:278px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:674px;
  width:25px;
  height:25px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:677px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:127px;
  width:12px;
  height:21px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:109px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:231px;
  width:164px;
  height:109px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:160px;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:201px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:360px;
  width:319px;
  height:299px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:676px;
  width:12px;
  height:20px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:703px;
  width:314px;
  height:1px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:720px;
  width:300px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:957px;
  width:339px;
  height:81px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:962px;
  width:25px;
  height:25px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:965px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:964px;
  width:12px;
  height:20px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:991px;
  width:314px;
  height:1px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1008px;
  width:300px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:716px;
  width:85px;
  height:26px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:974px;
  width:70px;
  height:48px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1048px;
  width:339px;
  height:99px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1053px;
  width:25px;
  height:25px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1056px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1055px;
  width:12px;
  height:20px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1087px;
  width:314px;
  height:1px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1104px;
  width:317px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:1062px;
  width:70px;
  height:48px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:332px;
  width:61px;
  height:13px;
  font-size:10px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:332px;
  width:33px;
  height:13px;
  font-size:10px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:755px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:753px;
  width:23px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:753px;
  width:23px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:752px;
  width:43px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:795px;
  width:281px;
  height:16px;
  text-align:center;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:835px;
  width:124px;
  height:1px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:835px;
  width:124px;
  height:1px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:828px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:865px;
  width:46px;
  height:40px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:865px;
  width:46px;
  height:40px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:865px;
  width:46px;
  height:40px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:865px;
  width:46px;
  height:40px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:865px;
  width:46px;
  height:40px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:913px;
  width:48px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:915px;
  width:25px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:915px;
  width:25px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:915px;
  width:25px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:915px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:3px;
  width:360px;
  height:203px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:44px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:133px;
  width:203px;
  height:44px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:199px;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:68px;
  width:203px;
  height:39px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:80px;
  width:139px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:23px;
  width:205px;
  height:25px;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:291px;
  width:360px;
  height:192px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:413px;
  width:203px;
  height:42px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:199px;
  word-wrap:break-word;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:346px;
  width:203px;
  height:39px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:311px;
  width:205px;
  height:25px;
  color:#FF3300;
  text-align:left;
  line-height:20px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:342px;
  width:48px;
  height:48px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:63px;
  width:48px;
  height:48px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:360px;
  width:163px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:84px;
  width:60px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:361px;
  width:60px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:44px;
  width:140px;
  height:27px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:262px;
  width:205px;
  height:32px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:280px;
  width:0px;
  height:0px;
}
#u1234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:968px;
  width:11px;
  height:14px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1059px;
  width:11px;
  height:14px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:679px;
  width:11px;
  height:14px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:679px;
  width:205px;
  height:32px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:693px;
  width:0px;
  height:0px;
}
#u1244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:968px;
  width:205px;
  height:32px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:982px;
  width:0px;
  height:0px;
}
#u1248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1062px;
  width:205px;
  height:32px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1076px;
  width:0px;
  height:0px;
}
#u1252_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:32px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:118px;
  width:205px;
  height:32px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:136px;
  width:0px;
  height:0px;
}
#u1256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:746px;
  width:34px;
  height:34px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
