body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:666px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:55px;
  width:300px;
  height:48px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:175px;
  width:0px;
  height:0px;
}
#u335_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-119px;
  width:8px;
  height:119px;
}
#u335_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-119px;
  width:504px;
  height:8px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-123px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:334px;
  width:300px;
  height:96px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:375px;
  width:0px;
  height:0px;
}
#u339_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:515px;
  width:300px;
  height:80px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:568px;
  width:0px;
  height:0px;
}
#u343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:705px;
  width:300px;
  height:80px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
