body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:179px;
  width:300px;
  height:16px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:233px;
  width:300px;
  height:32px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:300px;
  height:16px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:300px;
  height:352px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:758px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:557px;
  width:444px;
  height:758px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:371px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1529px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1596px;
  width:720px;
  height:1529px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:756px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:859px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:3135px;
  width:550px;
  height:859px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:422px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1024px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:4011px;
  width:576px;
  height:1024px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:504px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
