body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:658px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:658px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:321px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:465px;
  width:0px;
  height:0px;
}
#u2405_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:445px;
  width:255px;
  height:50px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:180px;
  width:0px;
  height:0px;
}
#u2409_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:335px;
  height:8px;
}
#u2409_seg1 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:-4px;
  width:8px;
  height:14px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:158px;
  width:255px;
  height:50px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:235px;
  word-wrap:break-word;
}
