body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:605px;
  width:300px;
  height:16px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:610px;
  width:0px;
  height:0px;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:480px;
  width:0px;
  height:0px;
}
#u436_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:510px;
  width:70px;
  height:20px;
  color:#FF0000;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:520px;
  width:0px;
  height:0px;
}
#u440_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:332px;
  width:300px;
  height:208px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:289px;
  width:300px;
  height:16px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
