body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:666px;
  font-size:12px;
}
#u5523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u5526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Bold Oblique', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#666666;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:70px;
  width:88px;
  height:44px;
  font-family:'Impact Bold Oblique', 'Impact Normal', 'Impact';
  font-weight:700;
  font-style:oblique;
  font-size:36px;
  color:#666666;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:135px;
  width:277px;
  height:30px;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:142px;
  width:104px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5534 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:185px;
  width:277px;
  height:30px;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u5536 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:192px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u5538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:192px;
  width:25px;
  height:17px;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5540 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:365px;
  width:277px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u5542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5542 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:230px;
  width:317px;
  height:45px;
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u5544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u5544 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:425px;
  width:36px;
  height:16px;
  text-decoration:underline;
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
