body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:665px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:663px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:667px;
  width:371px;
  height:663px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1340px;
  width:376px;
  height:668px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:65px;
  width:500px;
  height:144px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:390px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:203px;
  width:612px;
  height:390px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:187px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
