body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:665px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:663px;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:667px;
  width:371px;
  height:663px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1340px;
  width:376px;
  height:668px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:65px;
  width:500px;
  height:144px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u3201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:390px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:203px;
  width:612px;
  height:390px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:187px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
