body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:665px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:663px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:667px;
  width:371px;
  height:663px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1340px;
  width:376px;
  height:668px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:65px;
  width:500px;
  height:144px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:390px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:203px;
  width:612px;
  height:390px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:187px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
