body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:665px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:663px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:667px;
  width:371px;
  height:663px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1340px;
  width:376px;
  height:668px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:65px;
  width:500px;
  height:144px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:390px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:203px;
  width:612px;
  height:390px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:187px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
