body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1132px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1113px;
  width:375px;
  height:667px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:653px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2000px;
  width:375px;
  height:653px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:56px;
  width:300px;
  height:64px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:279px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:228px;
  width:552px;
  height:279px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:130px;
  width:300px;
  height:48px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:240px;
  width:33px;
  height:405px;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:28px;
  height:20px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:28px;
  height:20px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:28px;
  height:20px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:28px;
  height:20px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:28px;
  height:20px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:28px;
  height:20px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:28px;
  height:20px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:28px;
  height:20px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:28px;
  height:20px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:28px;
  height:20px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:28px;
  height:20px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:28px;
  height:20px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:28px;
  height:20px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:28px;
  height:20px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:28px;
  height:20px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:28px;
  height:20px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:28px;
  height:20px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:28px;
  height:20px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:28px;
  height:20px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
#u4016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:202px;
  width:300px;
  height:16px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:201px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:240px;
  width:20px;
  height:200px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:316px;
  width:20px;
  height:49px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:200px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:441px;
  width:20px;
  height:199px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:508px;
  width:20px;
  height:49px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:596px;
  width:110px;
  height:19px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1091px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:375px;
  height:1091px;
  font-size:12px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:538px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:375px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:28px;
  height:28px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:77px;
  width:215px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:90px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:275px;
  width:52px;
  height:90px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:635px;
  width:340px;
  height:175px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:640px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:687px;
  width:295px;
  height:19px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:115px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:130px;
  width:147px;
  height:115px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:105px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:687px;
  width:245px;
  height:105px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:745px;
  width:0px;
  height:0px;
}
#u4048_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:397px;
  width:340px;
  height:175px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:90px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:275px;
  width:52px;
  height:90px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:90px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:275px;
  width:52px;
  height:90px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:90px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:275px;
  width:52px;
  height:90px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:397px;
  width:1px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:403px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:432px;
  width:294px;
  height:83px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u4064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:845px;
  width:340px;
  height:225px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:850px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:897px;
  width:309px;
  height:98px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u4070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:593px;
  width:215px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
